{% extends 'admin/base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
    {% for user in pagination.data %}
        <div class="col-md-3">
           {% include "admin/partials/navigation/navigation.html.twig" with {link:"admin_user_show_all",text:"Tous les utilisateurs", detail_1 :"Nombre total d'utilisateurs : 1 " } %} 
        </div>
        
        <div class="col-md-9">
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">Tous les utilisateurs</h5>
                    <table class="table table-hover">
                        <thead class="thead">
                            <tr>
                                <th scope="col">Date d'inscription</th>
                                <th scope="col">Nom complet</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                <tr>
                                    <td>{{ user.registeredAt|date('d-m-Y H:i:s') }}</td>
                                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                                    <td class="text-center">
                                        <a href="{{ path('admin_user_delete',{'id': user.id } )}} " class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                        <a href="{{ path('admin_user_show',{'id': user.id })}} " class="btn btn-light"><i class="fas fa-eye"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ pagination.adminDisplay() }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
