<div class="card-deck">
    {% for listing in listings %} 
        <div class="card presentation">
            <a href="{{ path('user_listing_show',{'id':listing.id}) }}">
                <img class="card-img-top" src="{{ listing.mainImage }}" alt="Card image cap"/>
            </a>
            <div class="card-price">
                <p>{{ listing.price|number_format(0,'','  ')}} FCFA / <i class="fas fa-user"></i></p>
            </div>
            <div class="card-rating">
                <p>4.9</p>
            </div>
            <img src="{{ listing.author.picture }}" alt="" class="card-avatar" />
            <div class="card-body">
                <h5 class="card-title listing text-center mt-3"><a href="#">{{ listing.title }}</a></h5>
                <p class="card-text listing text-center">Outdoor, luxury for you</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text listing">
                            <i class="fas fa-map-marker-alt"></i>
                            <a href="#">{{ listing.city.name }} </a> , <a href="#">{{ listing.country.name }} </a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-text listing">
                            <i class="fas fa-phone-alt"></i> +225{{ listing.contact }}
                        </p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text listing">{{ listing.listingCategory.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>