{% extends 'admin/base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
           {% include "admin/partials/navigation/navigation.html.twig" with {text:"Toutes les réservations",link:"admin_booking_show_all",detail_1: "Nombre total de réservations : 35" } %} 
        </div>
        <div class="col-md-9">
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">Toutes les réservations</h5>
                    <table class="table table-hover">
                        <thead class="thead">
                            <tr>
                                <th scope="col">Date de réservation</th>
                                <th scope="col">Circuit</th>
                                <th scope="col">Nom du client</th>
                                <th scope="col">Contact du client</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in pagination.data %}
                                <tr>
                                    <td>{{ booking.createdAt|date("d-m-Y") }}</td>
                                    <td>{{ booking.listing.title }}"</td>
                                    <td>{{ booking.booker.firstName }} {{ booking.booker.lastName }}</td>
                                    <td class="text-center"> {{ booking.booker.userPhone }} </td>
                                    <td class="text-center">
                                        <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                        <a href="{{ path('admin_booking_show',{'id': booking.id })}} " class="btn btn-light"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ pagination.adminDisplay() }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
