<div class="card my-2">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <hr>
        {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <button type="submit" class="btn btn-outline-primary btn-lg btn-block mt-2" formnovalidate>{{ button_title }}</button>                        
        {{ form_end(form) }}
    </div>
</div>