{% extends 'admin/base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            {% include "admin/partials/flashes.html.twig" %}
            {% include "admin/partials/navigation/navigation.html.twig" with {text:"Retour à l'accueil", link:"admin_home", detail_1:"Nombre total d'articles: 2"} %} 
        </div>
        <div class="col-md-9">
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">Tous les articles créés</h5>
                    <p><a href="{{path('admin_article_create')}}">Ajouter un article</a></p>
                    <table class="table table-hover">
                        <thead class="thead">
                            <tr>
                                <th scope="col">Date de création</th>
                                <th scope="col">Nom de l'article</th>
                                <th scope="col">Catégorie de l'article</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for art in pagination.data %}
                                <tr>
                                    <td>{{ art.createdAt|date('d-m-Y H:i:s') }}</td>
                                    <td>{{ art.title }}</td>
                                    <td>{{ art.blogCategory.title }}</td>
                                    <td class="text-center">
                                        <a href="{{ path('admin_article_delete',{'id': art.id } )}} " class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                        <a href="{{ path('admin_article_edit',{'id': art.id })}} " class="btn btn-light"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
